absl-py==2.1.0
astunparse==1.6.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
charset-normalizer==3.3.2
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1699041432046/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
flatbuffers==24.3.25
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1710865846781/work
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.11.0
idna==3.7
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
keras==3.2.1
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1695379982481/work
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1708026732965/work
mdurl==0.1.2
ml-dtypes==0.3.2
munkres==1.1.4
namex==0.0.7
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225416355/work/dist/numpy-1.26.4-cp310-cp310-macosx_11_0_arm64.whl#sha256=14c628943f67e9c10d22faa9c1cdcbf69c3192e88f2f597d03b77a252e589567
opt-einsum==3.3.0
optree==0.11.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1712154790137/work
protobuf==4.25.3
Pygments==2.17.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
ReliefF==0.1.2
requests==2.31.0
rich==13.7.1
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1708073878990/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1706041688139/work/dist/scipy-1.12.0-cp310-cp310-macosx_11_0_arm64.whl#sha256=66d35508ad83a69ee072c9754c41c005ee81dc4e86d1b55a0acdf616550c4446
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1710943558485/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1708363219318/work
typing_extensions==4.11.0
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1695848003431/work
urllib3==2.2.1
Werkzeug==3.0.2
wrapt==1.16.0

pandas~=2.2.2
numpy~=1.26.4
matplotlib~=3.8.3
scikit-learn~=1.4.1.post1
tqdm~=4.66.2
scipy~=1.12.0
seaborn~=0.13.2